/* General Styling */
body {
  font-family: 'Helvetica', sans-serif;
  line-height: 1.6;
  background-color: #f0f0f0;
  color: #333;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0;
  padding: 10px;
  margin-right: 200px; /* Add margin to move the component towards the left */
}


.app-heading {
  font-size: 36px;
  margin: 0; /* Remove margin to align heading properly */
  color: #2a5c71;
  font-weight: 600;
}

.add-button {
  font-size: 24px;
  height: 50px;
  width: 50px;
  background-color: #2a5c71;
  color: #fff;
  border: none;
  border-radius: 15%; /* Change border-radius to make a perfect circle */
  cursor: pointer;
  margin-left: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.add-button:hover {
  background-color: #1f576f;
  transform: scale(1.1);
}

.plus-icon {
  font-size: 1.5rem;
}

/* Adjust alignment */
@media (max-width: 600px) {
  .app-container{
    margin-left: 200px;
  }
  .app-heading {
    font-size: 28px;
  }

  .add-button {
    font-size: 20px;
    width: 50px;
    height: 50px;
    /* margin-top: 10px; Remove margin-top to align button properly */
    border-radius: 15%; /* Change border-radius to make a perfect circle */
  }

  .plus-icon {
    font-size: 1.3rem;
  }
}
