.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; /* This aligns the items to the right horizontally */
    justify-content: flex-end; /* This aligns the items to the bottom vertically */
    /* margin-right: 20%; */
    margin-right: 0;

  }

  .username{
    font-size: 30px;
    font-weight: bold;
  }

  .custom-rx-avatar{
    margin-right: 50px;
  }
  