/* CSS for the registration page */
.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #aec2cb;
    /* background-color: #2a5c71; */
  }
  
  .register-form-container {
    width: 400px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .register-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #333;
    font-weight: bolder;
  }
  
  .register-form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
  }
  
  .form-control {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  }
  
  .error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .register-btn {
    margin-top: 20px;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .login-link {
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
  }
  
  .login-link:hover {
    text-decoration: underline;
  }
  