* {
	margin: 0;
	padding: 0;
	font-family: Poppins,sans-serif;
}
/* .main-app-container {
	display: flex;
	height: 100vh;
  }
  
  .navbar {
	flex-shrink: 0;
	width: 15%;
  }
  
  .nav-container {
	display: flex;
	flex-direction: column;
  }
  
  .content {
	flex-grow: 1;
	overflow-y: auto;
	padding: 20px;
  }
  
  .navbar-nav {
	width: 100%;
  } */


  .main-app-container {
	display: flex;
	height: 100vh;
	background-color: #2a5c71;
  }
  
  .navbar {
	flex-shrink: 0;
	width: 15%;
	flex-direction: column;
  }
  
  .nav-container {
	display: flex;
	flex-direction: column;
  }
  
  .content {
	flex-grow: 1;
	overflow-y: auto;
	padding: 20px;
  }
  
  .navbar-nav {
	width: 100%;
  }
  
  .nav-link {
	color: white;
	padding: 10px;
	text-decoration: none;
	/* transition: background-color 0.3s ease; */
  }
  
  .nav-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
  }
  
  @media (max-width: 768px) {
	.navbar {
	  width: 25%;
	  flex-direction: row;
	}
  }
  
  @media (max-width: 576px) {
	.main-app-container {
	  flex-direction: column;
	}
  
	.navbar {
	  width: 100%;
	  position: sticky;
	  top: 0;
	  z-index: 100;
	  flex-direction: row;
	}

  
	.content {
	  padding: 20px;
	}
  }

  

  
.app-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	width: 25%;
	text-align: center;
}

.app-heading {
	font-size: 24px;
	color: #333;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}



/* h1 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 25px;
	color: #333;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
} */

/* body {
	margin: 0 75px;
	background-color: #f1f5f9;
	font-family: Arial, sans-serif;
} */

#mode-selector {
	border: 1px solid #333;
	background-color: white;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 7px;
	color: #333;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 7px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.task {
	padding: 15px 0;
}

.task-action-button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease-in-out;
	text-transform: uppercase;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	margin-right: 15px;
}

.task-action-button:hover {
	background-color: #0056b3;
	transform: scale(1.05);
}
#mode-selector:hover {
	background-color: #333;
	color: white;
}

/* h1 {
	font-family: poppins, sans-serif;
	font-size: 24px;
	margin-bottom: 20px;
	color: #164e63;;
} */

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* gap: 20px; */
}

.todo-card {
	width: 300px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(
		rgb(181, 212, 228),
		rgb(238, 216, 216)
	) !important;
	margin: 10px;
}

.todo-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.todo-description {
	font-size: 16px;
	margin-bottom: 10px;
}

.due-date {
	font-weight: bold;
}

.todo-info {
	font-weight: bold;
}

.card-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

body {
	font-family: 'Helvetica', sans-serif;
	line-height: 1.6;
	background-color: #f0f0f0;
	color: #333;
  }
  
  .todo-items {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
  }
  
  h1 {
	font-size: 36px;
	margin-bottom: 20px;
	text-align: center;
  }
  
  p {
	font-size: 16px;
	margin-bottom: 10px;
  }


  /* Modal Styling */
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9999;
  }
  
  .modal-content {
	max-width: 400px;
	padding: 20px;
	background-color: #fff;
	border-radius: 4px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .modal h2 {
	font-size: 24px;
	margin-bottom: 10px;
  }
  
  .modal p {
	margin-bottom: 20px;
  }
  
  .modal button {
	padding: 10px 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  .modal button:not(:last-child) {
	margin-right: 10px;
  }
  
  .modal button:hover {
	background-color: #0056b3;
  }
  
  .modal button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
  }
  
  /* Responsive Styling */
  @media (max-width: 600px) {
	h1 {
	  font-size: 28px;
	}
	
	.custom-table th,
	.custom-table td {
	  padding: 8px;
	  font-size: 14px;
	}
	
	.modal-content {
	  max-width: 300px;
	  padding: 15px;
	}
  }


  /* For Result per page component */
 /* styles.css */

/* Todo Items Container */
.todo-items {
	/* margin:0; */
	padding: 20px;
	/* background-color: #ffffff; */
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	/* width: 2000px; */
	
  }
  
  /* Todos Title */
  .todo-items h1 {
	font-size: 24px;
	font-weight: bold;
	color: #333;
	margin-bottom: 20px;
  }

.custom-rx-avatar {
	font-size: 50px; /* Set the icon size to 24 pixels */
  }
  
.nav-button{
	align-items: left;
	background-color: white;
}