* {
	margin: 0;
	padding: 0;
}
/* .main-app-container {
	display: flex;
	height: 100vh;
  }
  
  .navbar {
	flex-shrink: 0;
	width: 15%;
  }
  
  .nav-container {
	display: flex;
	flex-direction: column;
  }
  
  .content {
	flex-grow: 1;
	overflow-y: auto;
	padding: 20px;
  }
  
  .navbar-nav {
	width: 100%;
  } */


  .main-app-container {
	display: flex;
	height: 100vh;
  }
  
  .navbar {
	flex-shrink: 0;
	width: 15%;
	flex-direction: column;
  }
  
  .nav-container {
	display: flex;
	flex-direction: column;
  }
  
  .content {
	flex-grow: 1;
	overflow-y: auto;
	padding: 20px;
  }
  
  .navbar-nav {
	width: 100%;
  }
  
  .nav-link {
	color: white;
	padding: 10px;
	text-decoration: none;
	transition: background-color 0.3s ease;
  }
  
  .nav-link:hover {
	background-color: rgba(255, 255, 255, 0.1);
  }
  
  @media (max-width: 768px) {
	.navbar {
	  width: 100%;
	  flex-direction: row;
	}
  }
  
  @media (max-width: 576px) {
	.main-app-container {
	  flex-direction: column;
	}
  
	.navbar {
	  width: 100%;
	  position: sticky;
	  top: 0;
	  z-index: 100;
	  flex-direction: row;
	}

  
	.content {
	  padding: 20px;
	}
  }

  

  
.app-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
	width: 25%;
	text-align: center;
}

.app-heading {
	font-size: 24px;
	color: #333;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.add-button {
	font-size: 24px;
	height: 50px;
	width: 50px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 25%;
	cursor: pointer;
	margin-left: 15px;
	box-shadow: 0ghtpx 2px 5px rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.add-button:hover {
	background-color: #0056b3;
	transform: scale(1.1);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 25px;
	color: #333;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

body {
	margin: 0 75px;
	background-color: #f1f5f9;
	font-family: Arial, sans-serif;
}

#mode-selector {
	border: 1px solid #333;
	background-color: white;
	text-align: center;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 7px;
	color: #333;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 7px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.task {
	padding: 15px 0;
}

.task-action-button {
	padding: 10px 20px;
	background-color: #007bff;
	color: white;
	border: none;
	border-radius: 25px;
	cursor: pointer;
	font-weight: bold;
	transition: background-color 0.3s ease-in-out;
	text-transform: uppercase;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
	margin-right: 15px;
}

.task-action-button:hover {
	background-color: #0056b3;
	transform: scale(1.05);
}
#mode-selector:hover {
	background-color: #333;
	color: white;
}

h1 {
	font-size: 24px;
	margin-bottom: 20px;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	/* gap: 20px; */
}

.todo-card {
	width: 300px;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	background-image: linear-gradient(
		rgb(181, 212, 228),
		rgb(238, 216, 216)
	) !important;
	margin: 10px;
}

.todo-title {
	font-weight: bold;
	font-size: 20px;
	margin-bottom: 10px;
}

.todo-description {
	font-size: 16px;
	margin-bottom: 10px;
}

.due-date {
	font-weight: bold;
}

.todo-info {
	font-weight: bold;
}

.card-buttons {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.custom-tooltip {
	background-color: #333;
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 8px;
	font-size: 14px;
	max-width: 200px;
  }
  
  Table {
	font-family: Poppins, sans-serif;
	box-sizing: border-box;
  }
  
  .table-responsive{
	/* background-color: blue; */
	/* padding: 15px;
	border-radius: 15px; */
  }
  .tooltip {
	max-width: none !important;
  }
  
  td {
	position: relative;
	/* max-width: 25px; */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  td span {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
  }
  
  td:hover .tooltip {
	display: block !important;
	position: absolute;
	top: 0;
	left: 100%;
	transform: translateX(10px);
	z-index: 999;
  }
  
  .content{
	background-color: #f1f5f9;
  }

  .custom-table{
	border: 15px solid rgb(0, 0, 0);
  }